body{
  background: #360033;
  background: -webkit-linear-gradient(to left, #360033, #0b8793);
  background: linear-gradient(to left, #360033, #0b8793);
}

a {
  padding-right: 20px;
}
.page {
  height: 100vh;
  background-color: white;
  color: #263238;
}
.ecPage {
  height: 68vh;
}
#ecWrapper {
  margin-top: 25vh;
  margin-left: 20%;
}
#eyecatcher {
  font-size: 60pt;
}
@media only screen and (min-width: 200px) and (max-width: 667px) {
  a {
    padding-right: 5px;
  }
  #ecWrapper {
    margin-left: 2%;
  }
  #eyecatcher {
    font-size: 40pt;
  }
}
