.photo-section {
  background-color: #6F6F6F;
}

.image-wrapper {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.image-wrapper span {
  margin-top: 1%;
}

@media only screen and (max-width: 425px) {

  .image-wrapper {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30%;
    margin-bottom: 30%;
  }

}
