body {
  font-family: 'Roboto', Tahoma, serif;
  /*background-color: #37474F;*/
  margin: 0px;
  color: white;


	background: #360033; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #CFD8DC;
}
.header {
  height: 7vh;
  background-color: #263238;
	opacity: 0.5;
}
