body{
	font-family: 'Roboto', Tahoma, serif;
	background-color: #37474F;
	margin:0px;
	color: white;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: #CFD8DC;
}

.header{
	height: 7vh;
	background-color: #263238;
}
