body {
  font-family: 'Roboto', Tahoma, serif;
  /*background-color: #37474F;*/
  margin: 0px;
  color: white;
  background: #360033;
  background: -webkit-linear-gradient(to left, #360033, #0b8793);
  background: linear-gradient(to left, #360033, #0b8793);
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #CFD8DC;
}
.header {
  height: 7vh;
  background-color: #263238;
  opacity: 0.5;
}
